## Q1. Pandas version

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.1.4'

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"

df = pd.read_csv(url)

In [4]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2. Records count - How many records are in the dataset?

In [5]:
df.shape[0]

2160

## Q3. Laptop brands - How many laptop brands are presented in the dataset?

In [6]:
df['Brand'].nunique()

27

## Q4. Missing values
How many columns in the dataset have missing values?

In [7]:
(df.isnull().sum().iloc[:] != 0).sum()

3

## Q5. Maximum final price - 
What's the maximum final price of Dell notebooks in the dataset?

In [8]:
brand_max_prices = df.groupby('Brand')['Final Price'].max()
brand_max_prices

Brand
Acer                3691.00
Alurin               869.00
Apple               3849.00
Asus                5758.14
Deep Gaming         1639.01
Dell                3936.00
Denver               329.95
Dynabook Toshiba    1805.01
Gigabyte            3799.00
HP                  5368.77
Innjoo               431.38
Jetwing              469.27
LG                  2399.00
Lenovo              5018.14
MSI                 7150.47
Medion              3799.00
Microsoft           3747.91
Millenium           2312.71
PcCom               1949.90
Primux               599.41
Prixton              329.95
Razer               4999.01
Realme               999.00
Samsung             3699.01
Thomson              436.56
Toshiba              799.00
Vant                1217.01
Name: Final Price, dtype: float64

In [9]:
brand_max_prices[brand_max_prices.index == "Dell"]

Brand
Dell    3936.0
Name: Final Price, dtype: float64

## Q6. Median value of Screen
1. Find the median value of Screen column in the dataset.

In [10]:
screen = df["Screen"]

In [11]:
screen.isna().sum()

4

In [12]:
screen.median()

15.6

2. Next, calculate the most frequent value of the same Screen column.

In [13]:
screen.mode()

0    15.6
Name: Screen, dtype: float64

3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [14]:
screen = screen.fillna(15.6)

4. Now, calculate the median value of Screen once again.

In [15]:
screen.median()

15.6

The median did not change

## Q7. Sum of weights

In [16]:
#1 Select all the "Innjoo" laptops from the dataset.
injoo = df[df["Brand"]== "Innjoo"]

In [17]:
injoo

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [32]:
# 2. Select only columns RAM, Storage, Screen

ram_storage_screen = injoo[["RAM", "Storage", "Screen"]]
ram_storage_screen

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [33]:
# Get the underlying NumPy array. Let's call it X

X = ram_storage_screen.values

In [35]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [36]:
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [37]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [42]:
w = XTX_inv.dot(X.T).dot(y)

In [43]:
w.sum()

91.29988062995815